{
	"name": "{{vendor_key}}/{{package_key}}",
	"description": "{{description}}",
	"minimum-stability": "dev",
	"prefer-stable": true,
	"license": "{{license}}",
	"type": "{{type}}",
	"authors": [
		{
			"name": "{{author}}",
			"email": "{{email}}",
			"role": "Developer"
		}
	],
	"require": {
	},
	"require-dev": {
	},
	"autoload": {
		"psr-4": {
			"{{namespace_autoload}}": "src/"
		}
	}
}
